@media (max-width: 1440px) {
    html{
        font-size: calc(100vw / 1440);
    }

    body{
        max-width: 1440rem;
        background-color: #053556;
        font-family: var(--main);
        margin: 0 auto;
    }
    .container{
        width: 100%;
        max-width: 1172rem;
        margin: 0 auto;
    }

    .feedback{
        width: 100%;
        margin-top: 120rem;
        &__body{
            display: flex;
            padding: 60rem;
            position: relative;
            gap: 60rem;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
            &-text{
                display: flex;
                flex-direction: column;
                gap: 40rem;
                max-width: 424rem;
                span{
                    font-family: var(--bold);
                    font-size: 42rem;
                    font-weight: 700;
                    line-height: 55.86rem;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #fff;
                }
                p{
                    font-size: 16rem;
                    font-weight: 400;
                    line-height: 24rem;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #fff;
                }
            }
            &-form{
                display: flex;
                flex-direction: column;
                gap: 45rem;
                &-inp{
                    display: flex;
                    flex-direction: column;
                    gap: 20rem;
                    input{
                        width: 305rem;
                        height: 56rem;
                        background: #053556;
                        border-radius: 80rem;
                        display: flex;
                        align-items: center;
                        padding-left: 28rem;
                        font-size: 16rem;
                        font-weight: 400;
                        line-height: 20rem;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #fff;
                    }
                    input::-webkit-input-placeholder{
                        color: #fff;
                    }
                }
                &-btn{
                    width: 305rem;
                    height: 56rem;
                    background: #fff;
                    border-radius: 80rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: var(--bold);
                    font-size: 16rem;
                    font-weight: 700;
                    line-height: 20rem;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #053556;
                }
            }
        }
    }

    .footer{
        width: 100%;
        margin-top: 120rem;
        padding-bottom: 82rem;
        &__body{
            display: flex;
            flex-direction: column;
            gap: 105rem;
            &-top{
                display: flex;
                justify-content: space-between;
                width: 100%;
                &-logo{
                    font-family: var(--bold);
                    font-size: 24rem;
                    font-weight: 700;
                    line-height: 31.92rem;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #fff;
                    text-transform: uppercase;
                }
                &-menu{
                    &-list{
                        display: flex;
                        flex-direction: column;
                        gap: 32rem;
                        li{
                            font-size: 14rem;
                            font-weight: 400;
                            line-height: 18.62rem;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: #fff;
                        }
                    }
                }
                &-contact{
                    display: flex;
                    gap: 113rem;
                    &-start{
                        display: flex;
                        flex-direction: column;
                        gap: 20rem;
                        span{
                            font-size: 14rem;
                            font-weight: 400;
                            line-height: 18.62rem;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: #fff;
                        }
                        a{
                            font-family: var(--bold);
                            font-size: 14rem;
                            font-weight: 700;
                            line-height: 18.62rem;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: #fff;
                        }
                        &-social{
                            display: flex;
                            gap: 12rem;
                            a{
                                width: 30rem;
                                height: 30rem;
                                svg{
                                    width: 30rem;
                                    height: 30rem;
                                }
                            }
                        }
                    }
                    &-btn{
                        font-family: var(--bold);
                        font-size: 14rem;
                        font-weight: 700;
                        line-height: 20rem;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        padding: 10rem 20rem;
                        border-radius: 80rem;
                        background: #FFFFFF;
                        color: #354253;
                        max-height: max-content;
                    }
                }
            }
            &-bot{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                span{
                    font-size: 14rem;
                    font-weight: 400;
                    line-height: 18.62rem;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #FFFFFF;
                }
                a{
                    font-size: 14rem;
                    font-weight: 400;
                    line-height: 18.62rem;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #fff;
                }
            }
        }
    }

    .header{
        width: 100%;
        padding: 35rem 0;
        &__body{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            &-logo{
                font-family: var(--bold);
                font-size: 24rem;
                font-weight: 700;
                line-height: 31.92rem;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #FFFFFF;
                text-transform: uppercase;
            }
            &-menu{
                &-list{
                    display: flex;
                    align-items: center;
                    gap: 32rem;
                    li{
                        font-size: 14rem;
                        font-weight: 400;
                        line-height: 18.62rem;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #FFFFFF;
                    }
                }
            }
            &-contact{
                display: flex;
                align-items: center;
                gap: 61rem;
                &-left{
                    display: flex;
                    align-items: center;
                    gap: 20rem;
                    &-social{
                        display: flex;
                        align-items: center;
                        gap: 12rem;
                        a{
                            width: 30rem;
                            height: 30rem;
                            svg{
                                width: 30rem;
                                height: 30rem;
                            }
                        }
                    }
                    .line{
                        width: 1rem;
                        background: #FFFFFF;
                        height: 35rem;
                    }
                    &-num{
                        font-family: var(--bold);
                        font-size: 14rem;
                        font-weight: 700;
                        line-height: 18.62rem;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #FFFFFF;
                    }
                }
                &-btn{
                    font-family: var(--bold);
                    font-size: 14rem;
                    font-weight: 700;
                    line-height: 20rem;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    padding: 10rem 20rem;
                    border-radius: 80rem;
                    background: #FFFFFF;
                    color: #354253;
                }
            }
        }
    }

    .main{
        width: 100%;
        margin-top: 16rem;
        &__body{
            display: flex;
            justify-content: space-between;
            &-info{
                width: 600rem;
                height: 566rem;
                background: #093F66;
                border-radius: 30rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 40rem;
                &-text{
                    display: flex;
                    flex-direction: column;
                    gap: 35rem;
                    p{
                        font-size: 16rem;
                        font-weight: 400;
                        line-height: 24rem;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #FFFFFF66;
                    }
                    h1{
                        font-family: var(--main);
                        font-size: 42rem;
                        font-weight: 400;
                        line-height: 55.86rem;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #fff;
                        max-width: 468rem;
                        span{
                            font-family: var(--bold);
                            font-size: 42rem;
                            font-weight: 700;
                            line-height: 55.86rem;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: #2CB8E7;
                        }
                    }
                }
                &-bot{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    a{
                        border-radius: 80rem;
                        font-family: var(--bold);
                        font-size: 16rem;
                        font-weight: 700;
                        line-height: 20rem;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #fff;
                        background: #2CB8E7;
                        padding: 18rem 40rem;
                    }
                    p{
                        font-size: 16rem;
                        font-weight: 400;
                        line-height: 24rem;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        max-width: 297rem;
                        color: #fff;
                    }
                }
            }
            img{
                width: 540rem;
                height: 566rem;
            }
        }
    }

    .portfolio{
        width: 100%;
        margin-top: 120rem;
        &__body{
            display: flex;
            flex-direction: column;
            gap: 40rem;
            h2{
                font-family: var(--bold);
                font-size: 42rem;
                font-weight: 700;
                line-height: 55.86rem;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #fff;
            }
            &-block{
                display: flex;
                flex-wrap: wrap;
                gap: 31rem;
                &-item{
                    width: 570rem;
                    padding: 30rem;
                    background: #073A5E;
                    border-radius: 20rem;
                    display: flex;
                    flex-direction: column;
                    gap: 24rem;
                    &-info{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        &-title{
                            font-family: var(--bold);
                            font-size: 16rem;
                            font-weight: 700;
                            line-height: 22.4rem;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            max-width: 263rem;
                            color: #fff;
                        }
                        &-attr{
                            display: flex;
                            flex-direction: column;
                            gap: 3rem;
                            &-element{
                                display: flex;
                                align-items: center;
                                gap: 5rem;
                                span{
                                    font-size: 14rem;
                                    font-weight: 400;
                                    line-height: 19rem;
                                    text-align: left;
                                    text-underline-position: from-font;
                                    text-decoration-skip-ink: none;
                                    color: #2CB8E7;
                                }
                                p{
                                    font-size: 14rem;
                                    font-weight: 400;
                                    line-height: 19rem;
                                    text-align: left;
                                    text-underline-position: from-font;
                                    text-decoration-skip-ink: none;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    &-desc{
                        font-size: 14rem;
                        font-weight: 400;
                        line-height: 19.6rem;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #fff;
                    }
                    &-more{
                        display: flex;
                        align-items: center;
                        background: transparent;
                        max-width: max-content;
                        gap: 8rem;
                        font-family: var(--bold);
                        font-size: 14rem;
                        font-weight: 700;
                        line-height: 19.6rem;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #2CB8E7;
                        svg{
                            width: 20rem;
                            height: 20rem;
                        }
                    }
                    &-gallery{
                        display: flex;
                        align-items: center;
                        gap: 8rem;
                        margin-top: 10rem;
                        img{
                            width: 90rem;
                            height: 90rem;
                        }
                    }
                }
            }
            &-btn{
                border-radius: 80rem;
                font-family: var(--bold);
                font-size: 16rem;
                font-weight: 700;
                line-height: 20rem;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #fff;
                background: #2CB8E7;
                padding: 18rem 40rem;
                max-width: max-content;
                align-self: center;
            }
        }
    }

    .price{
        width: 100%;
        padding-top: 120rem;
        background: #fff;
        padding-bottom: 120rem;
        &__body{
            display: flex;
            justify-content: space-between;
            width: 100%;
            &-start{
                display: flex;
                flex-direction: column;
                gap: 136rem;
                img{
                    width: 472rem;
                    height: 348rem;
                }
                &-text{
                    display: flex;
                    flex-direction: column;
                    gap: 34rem;
                    p{
                        font-size: 16rem;
                        font-weight: 400;
                        line-height: 24rem;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        max-width: 297rem;
                        span{
                            font-family: var(--bold);
                        }
                    }
                    a{
                        border-radius: 80rem;
                        font-family: var(--bold);
                        font-size: 16rem;
                        font-weight: 700;
                        line-height: 20rem;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #fff;
                        background: #2CB8E7;
                        padding: 18rem 40rem;
                        max-width: max-content;
                    }
                }
            }
            &-info{
                display: flex;
                flex-direction: column;
                gap: 35rem;
                &-title{
                    font-family: var(--bold);
                    font-size: 42rem;
                    font-weight: 700;
                    line-height: 55.86rem;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #053556;
                    max-width: 570rem;
                }
                &-block{
                    display: flex;
                    flex-direction: column;
                    max-width: 570rem;
                    &-item{
                        display: flex;
                        align-items: center;
                        gap: 42rem;
                        span{
                            font-family: var(--bold);
                            font-size: 16rem;
                            font-weight: 700;
                            line-height: 49rem;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: #2CB8E7;
                        }
                        p{
                            font-size: 16rem;
                            font-weight: 400;
                            line-height: 49rem;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                            color: #053556;
                        }
                    }
                    .line{
                        width: 100%;
                        height: 1rem;
                        background: #0535561F;
                    }
                }
            }
        }
    }

    .system{
        width: 100%;
        margin-top: 156rem;
        &__body{
            display: flex;
            flex-direction: column;
            gap: 40rem;
            padding-left: 135rem;
            h2{
                font-family: var(--bold);
                font-size: 42rem;
                font-weight: 700;
                line-height: 55.86rem;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #fff;
            }
            .splide{
                width: 100%;
            }
            .splide__arrows{
                display: flex;
                align-items: center;
                gap: 8rem;
                margin-top: 52rem;
            }
            .splide__arrow{
                position: static;
                width: 56rem;
                height: 56rem;
                border-radius: 50%;
                opacity: 1;
                transform: translateY(0%) !important;
                background: #2CB8E7;
                svg{
                    width: 24rem;
                    height: 24rem;
                    fill: none;
                }
            }
            &-slide{
                width: 270rem !important;
                height: 367rem;
                padding: 28rem 0 52rem 28rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
                background: #093F66;
                border-radius: 20rem;
                margin-right: 30rem !important;
                img{
                    width: 80rem;
                    height: 80rem;
                }
                span{
                    font-family: var(--bold);
                    font-size: 81.43rem;
                    font-weight: 700;
                    line-height: 108.3rem;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #053556;
                    position: absolute;
                    top: 13rem;
                    right: -17rem;
                }
                p{
                    font-family: var(--bold);
                    font-size: 18rem;
                    font-weight: 700;
                    line-height: 23.94rem;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #fff;
                }
            }
        }
    }

    .why{
        width: 100%;
        margin-top: 60rem;
        background: #fff;
        padding-top: 97rem;
        border-top-left-radius: 40rem;
        border-top-right-radius: 40rem;
        &__body{
            display: flex;
            flex-direction: column;
            gap: 46rem;
            &-title{
                font-family: var(--bold);
                font-size: 42rem;
                font-weight: 700;
                line-height: 55.86rem;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #053556;
            }
            &-block{
                display: flex;
                flex-wrap: wrap;
                gap: 30rem;
                &-item{
                    width: 270rem;
                    height: 228rem;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    padding: 28rem;
                    border-radius: 20rem;
                    background: #F7F7F7;
                    img{
                        width: 36rem;
                        height: 36rem;
                    }
                    p{
                        font-size: 16rem;
                        font-weight: 400;
                        line-height: 24rem;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #053556;
                    }
                }
            }
        }
    }
}