<section id="feedback" class="feedback">
    <div class="container">
        <div class="feedback__body">
            <img class="desk" src="../images/dist/form.png" alt="">
            <img class="mob" src="../images/dist/form__mob.png" alt="">
            <div class="feedback__body-text">
                <span>НУЖНА ПОМОЩЬ С ВЫБОРОМ ОБОРУДОВАНИЯ?</span>
                <p>Оставьте заявку, наши инженеры проконсультируют вас и помогут с подбором установки</p>
            </div>
            <form action="" class="feedback__body-form">
                <div class="feedback__body-form-inp">
                    <input placeholder="Ваше имя" type="text">
                    <input placeholder="Ваш телефон" type="tel">
                </div>
                <button class="feedback__body-form-btn">
                    Связаться с нами
                </button>
            </form>
        </div>
    </div>
</section>