<main class="main">
    <div class="container">
        <div class="main__body">
            <div class="main__body-info">
                <div class="main__body-info-text">
                    <p>
                        РАБОТАЕМ <br>
                        С 2003 года
                    </p>
                    <h1>
                        <span>Проектирование и монтаж</span> систем вентиляции в частных бассейнах
                        с 2003 года
                    </h1>
                </div>
                <div class="main__body-info-bot">
                    <a href="#feedback">
                        Оставить заявку
                    </a>
                    <p>Оставьте заявку и получите консультацию нашего инженера</p>
                </div>
            </div>
            <img src="../images/dist/main.png" alt="">
        </div>
    </div>
</main>