<section class="portfolio">
    <div class="container">
        <div class="portfolio__body">
            <h2>
                Примеры наших работ
            </h2>
            <div class="portfolio__body-block">
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-info">
                        <span class="portfolio__body-block-item-info-title">
                            Разработка системы вентиляции для бассейна спорткомплекса в г. Москва
                        </span>
                        <div class="portfolio__body-block-item-info-attr">
                            <div class="portfolio__body-block-item-info-attr-element">
                                <span>Бассейн:</span>
                                <p>120 м2</p>
                            </div>
                            <div class="portfolio__body-block-item-info-attr-element">
                                <span>Срок реализации:</span>
                                <p>1 месяц</p>
                            </div>
                            <div class="portfolio__body-block-item-info-attr-element">
                                <span>Бюджет:</span>
                                <p>120 тыс.</p>
                            </div>
                        </div>
                    </div>
                    <p class="portfolio__body-block-item-desc">
                        Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой.
                    </p>
                    <button class="portfolio__body-block-item-more">
                        Читать полностью
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.16645 13.4767L9.16645 3.33342L10.8331 3.33342L10.8331 13.4767L15.3031 9.00675L16.4814 10.1851L9.99978 16.6667L3.51811 10.1851L4.69645 9.00675L9.16645 13.4767Z" fill="#2CB8E7"/>
                        </svg>                            
                    </button>
                    <div class="portfolio__body-block-item-gallery">
                        <img src="../images/dist/gal/1.png" alt="">
                        <img src="../images/dist/gal/2.png" alt="">
                        <img src="../images/dist/gal/3.png" alt="">
                        <img src="../images/dist/gal/4.png" alt="">
                    </div>
                </div>
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-info">
                        <span class="portfolio__body-block-item-info-title">
                            Разработка системы вентиляции для бассейна спорткомплекса в г. Москва
                        </span>
                        <div class="portfolio__body-block-item-info-attr">
                            <div class="portfolio__body-block-item-info-attr-element">
                                <span>Бассейн:</span>
                                <p>120 м2</p>
                            </div>
                            <div class="portfolio__body-block-item-info-attr-element">
                                <span>Срок реализации:</span>
                                <p>1 месяц</p>
                            </div>
                            <div class="portfolio__body-block-item-info-attr-element">
                                <span>Бюджет:</span>
                                <p>120 тыс.</p>
                            </div>
                        </div>
                    </div>
                    <p class="portfolio__body-block-item-desc">
                        Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой.
                    </p>
                    <button class="portfolio__body-block-item-more">
                        Читать полностью
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.16645 13.4767L9.16645 3.33342L10.8331 3.33342L10.8331 13.4767L15.3031 9.00675L16.4814 10.1851L9.99978 16.6667L3.51811 10.1851L4.69645 9.00675L9.16645 13.4767Z" fill="#2CB8E7"/>
                        </svg>                            
                    </button>
                    <div class="portfolio__body-block-item-gallery">
                        <img src="../images/dist/gal/1.png" alt="">
                        <img src="../images/dist/gal/2.png" alt="">
                        <img src="../images/dist/gal/3.png" alt="">
                        <img src="../images/dist/gal/4.png" alt="">
                    </div>
                </div>
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-info">
                        <span class="portfolio__body-block-item-info-title">
                            Разработка системы вентиляции для бассейна спорткомплекса в г. Москва
                        </span>
                        <div class="portfolio__body-block-item-info-attr">
                            <div class="portfolio__body-block-item-info-attr-element">
                                <span>Бассейн:</span>
                                <p>120 м2</p>
                            </div>
                            <div class="portfolio__body-block-item-info-attr-element">
                                <span>Срок реализации:</span>
                                <p>1 месяц</p>
                            </div>
                            <div class="portfolio__body-block-item-info-attr-element">
                                <span>Бюджет:</span>
                                <p>120 тыс.</p>
                            </div>
                        </div>
                    </div>
                    <p class="portfolio__body-block-item-desc">
                        Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой.
                    </p>
                    <button class="portfolio__body-block-item-more">
                        Читать полностью
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.16645 13.4767L9.16645 3.33342L10.8331 3.33342L10.8331 13.4767L15.3031 9.00675L16.4814 10.1851L9.99978 16.6667L3.51811 10.1851L4.69645 9.00675L9.16645 13.4767Z" fill="#2CB8E7"/>
                        </svg>                            
                    </button>
                    <div class="portfolio__body-block-item-gallery">
                        <img src="../images/dist/gal/1.png" alt="">
                        <img src="../images/dist/gal/2.png" alt="">
                        <img src="../images/dist/gal/3.png" alt="">
                        <img src="../images/dist/gal/4.png" alt="">
                    </div>
                </div>
                <div class="portfolio__body-block-item">
                    <div class="portfolio__body-block-item-info">
                        <span class="portfolio__body-block-item-info-title">
                            Разработка системы вентиляции для бассейна спорткомплекса в г. Москва
                        </span>
                        <div class="portfolio__body-block-item-info-attr">
                            <div class="portfolio__body-block-item-info-attr-element">
                                <span>Бассейн:</span>
                                <p>120 м2</p>
                            </div>
                            <div class="portfolio__body-block-item-info-attr-element">
                                <span>Срок реализации:</span>
                                <p>1 месяц</p>
                            </div>
                            <div class="portfolio__body-block-item-info-attr-element">
                                <span>Бюджет:</span>
                                <p>120 тыс.</p>
                            </div>
                        </div>
                    </div>
                    <p class="portfolio__body-block-item-desc">
                        Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой. Текст-описание небольшой.
                    </p>
                    <button class="portfolio__body-block-item-more">
                        Читать полностью
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.16645 13.4767L9.16645 3.33342L10.8331 3.33342L10.8331 13.4767L15.3031 9.00675L16.4814 10.1851L9.99978 16.6667L3.51811 10.1851L4.69645 9.00675L9.16645 13.4767Z" fill="#2CB8E7"/>
                        </svg>                            
                    </button>
                    <div class="portfolio__body-block-item-gallery">
                        <img src="../images/dist/gal/1.png" alt="">
                        <img src="../images/dist/gal/2.png" alt="">
                        <img src="../images/dist/gal/3.png" alt="">
                        <img src="../images/dist/gal/4.png" alt="">
                    </div>
                </div>
            </div>
            <button class="portfolio__body-btn">
                Показать еще
            </button>
        </div>
    </div>
</section>