<section id="price" class="price">
    <div class="container">
        <div class="price__body">
            <div class="price__body-start">
                <img src="../images/dist/price.png" alt="">
                <div class="price__body-start-text">
                    <p>
                        <span>Хотите узнать точную стоимость?</span> Свяжитесь с нашими специалистами
                    </p>
                    <a href="#feedback">
                        Связаться с нами
                    </a>
                </div>
            </div>
            <div class="price__body-info">
                <span class="price__body-info-title">
                    Из чего складывается стоимость вентиляции бассейна
                </span>
                <div class="price__body-info-block">
                    <div class="price__body-info-block-item">
                        <span>1</span>
                        <p>вент установка(и)</p>
                    </div>
                    <div class="line"></div>
                    <div class="price__body-info-block-item">
                        <span>2</span>
                        <p>воздуховоды и фассонные изделия</p>
                    </div>
                    <div class="line"></div>
                    <div class="price__body-info-block-item">
                        <span>3</span>
                        <p>теплозоляционные материалы</p>
                    </div>
                    <div class="line"></div>
                    <div class="price__body-info-block-item">
                        <span>4</span>
                        <p>расходные материалы</p>
                    </div>
                    <div class="line"></div>
                    <div class="price__body-info-block-item">
                        <span>5</span>
                        <p>воздухораспределительные устройства (решетки и диффузоры)</p>
                    </div>
                    <div class="line"></div>
                    <div class="price__body-info-block-item">
                        <span>6</span>
                        <p>работы по проектированию</p>
                    </div>
                    <div class="line"></div>
                    <div class="price__body-info-block-item">
                        <span>7</span>
                        <p>транспортные и такелажные работы</p>
                    </div>
                    <div class="line"></div>
                    <div class="price__body-info-block-item">
                        <span>8</span>
                        <p>монтажные работы</p>
                    </div>
                    <div class="line"></div>
                    <div class="price__body-info-block-item">
                        <span>9</span>
                        <p>пусконаладочные работы</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>