<section id="system" class="system">
    <div class="system__body">
        <h2>Как мы создаем свои системы</h2>
        <div class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide system__body-slide">
                        <img src="../images/dist/system/1.png" alt="">
                        <span>
                            01
                        </span>
                        <p>приедем <br>
                            на объект</p>
                    </li>
                    <li class="splide__slide system__body-slide">
                        <img src="../images/dist/system/2.png" alt="">
                        <span>
                            02
                        </span>
                        <p>составим <br>
                            тех задание</p>
                    </li>
                    <li class="splide__slide system__body-slide">
                        <img src="../images/dist/system/3.png" alt="">
                        <span>
                            03
                        </span>
                        <p>подберем <br>
                            оборудование</p>
                    </li>
                    <li class="splide__slide system__body-slide">
                        <img src="../images/dist/system/4.png" alt="">
                        <span>
                            04
                        </span>
                        <p>
                            сделаем <br>
                            ваш проект
                        </p>
                    </li>
                    <li class="splide__slide system__body-slide">
                        <img src="../images/dist/system/5.png" alt="">
                        <span>
                            05
                        </span>
                        <p>смонтируем <br> оборудование и сеть <br> воздуховодов</p>
                    </li>
                </ul>
            </div>
            <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.50006 10.9999L16.0861 10.9999L11.5861 6.49994L13.0001 5.08594L19.9141 11.9999L13.0001 18.9139L11.5861 17.4999L16.0861 12.9999L4.50006 12.9999L4.50006 10.9999Z"
                            fill="white" />
                    </svg>
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.50006 10.9999L16.0861 10.9999L11.5861 6.49994L13.0001 5.08594L19.9141 11.9999L13.0001 18.9139L11.5861 17.4999L16.0861 12.9999L4.50006 12.9999L4.50006 10.9999Z"
                            fill="white" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>