<section id="why" class="why">
    <div class="container">
        <div class="why__body">
            <h2 class="why__body-title">
                Почему мы?
            </h2>
            <div class="why__body-block">
                <div class="why__body-block-item">
                    <img src="../images/dist/why/1.png" alt="">                     
                    <p>Огромный опыт в монтаже
                        и проектировании
                        вентиляции бассейнов</p>
                </div>
                <div class="why__body-block-item">
                    <img src="../images/dist/why/2.png" alt="">                             
                    <p>Знаем тонкости подбора
                        оборудования</p>
                </div>
                <div class="why__body-block-item">
                    <img src="../images/dist/why/3.png" alt="">      
                    <p>Знаем какие системы
                        работают хорошо, 
                        а которых нужно избегать</p>
                </div>
                <div class="why__body-block-item">
                    <img src="../images/dist/why/4.png" alt="">                           
                    <p>Знаем разницу 
                        и нюансы оборудования 
                        из первоисточников</p>
                </div>
                <div class="why__body-block-item">
                    <img src="../images/dist/why/5.png" alt="">                            
                    <p>Являемся дилерами 
                        большинства 
                        производителей 
                        вент оборудования</p>
                </div>
                <div class="why__body-block-item">
                    <img src="../images/dist/why/6.png" alt="">      
                    <p>Применяем современные
                        решетки и диффузоры</p>
                </div>
                <div class="why__body-block-item">
                    <img src="../images/dist/why/7.png" alt="">      
                    <p>Применяем 
                        как премиальное 
                        оборудование, 
                        так и недорогие решения</p>
                </div>
                <div class="why__body-block-item">
                    <img src="../images/dist/why/8.png" alt="">                             
                    <p>Знаем как правильно
                        настроить систему</p>
                </div>
                <div class="why__body-block-item">
                    <img src="../images/dist/why/9.png" alt="">                             
                    <p>Можем управлять
                        системой из любой
                        точки земли</p>
                </div>
                <div class="why__body-block-item">
                    <img src="../images/dist/why/10.png" alt="">                            
                    <p>Обслуживаем систему
                        на протяжении всего 
                        срока службы</p>
                </div>
                <div class="why__body-block-item">
                    <img src="../images/dist/why/11.png" alt="">                             
                    <p>Осуществляем
                        техническую поддержку
                        24/7</p>
                </div>
                <div class="why__body-block-item">
                    <img src="../images/dist/why/12.png" alt="">                             
                    <p>Специализируемся 
                        только на частных 
                        бассейнах</p>
                </div>
            </div>
        </div>
    </div>
</section>